*
!git
!git/*
!.gitignore
!user-dirs.dirs
!.profile
!profile.d
!profile.d/*
!.zshrc
!zshrc.d
!zshrc.d/*
!.bashrc
!bashrc.d
!bashrc.d/*
!.tmux.conf
!.vim
!.vim/plugin
!.vim/plugin/vimrc
!.vim/plugin/vimrc/*
