[Unit]
Description=Terminal Multiplexer Session %u@%H

[Service]
Environment=DISPLAY=:0
Type=forking
ExecStart=/usr/bin/tmux new-session -s %u@%H -d
ExecStop=/usr/bin/tmux kill-session -t %u@%H
Restart=always

[Install]
WantedBy=default.target
